*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    overflow-y: hidden;
}