.navigationMenuRoot {
    position: relative;
    display: flex;
    justify-content: center;
    width: 35px;
    z-index: 1;
}

.navigationMenuList {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #7E5DCA;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    list-style: none;
    margin-top: 8px;
    cursor: pointer;
}

.navigationMenuTrigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.caretDown {
    position: relative;
    color: #7E5DCA;
    transition: transform 250ms ease;
}

[data-state='open']>.caretDown {
    transform: rotate(-180deg);
}

.navigationMenuLink {
    display: block;
    text-decoration: none;
    line-height: 1;
}

.navigationMenuContentVLins {
    position: absolute;
    padding: 0 10px;
    top: 40px;
    left: -50px;
    width: 150px;
    height: 90px;
    border: 2px solid var(--borderBottomColor);
    border-radius: 10px;
    background-color: var(--backgroundColor);
    animation-duration: 250ms;
    animation-timing-function: ease;
}

.navigationMenuContentVLins[data-motion='from-start'] {
    animation-name: enterFromLeft;
}

.navigationMenuContentVLins[data-motion='from-end'] {
    animation-name: enterFromRight;
}

.navigationMenuContentVLins[data-motion='to-start'] {
    animation-name: exitToLeft;
}

.navigationMenuContentVLins[data-motion='to-end'] {
    animation-name: exitToRight;
}

.navigationMenuContent {
    position: absolute;
    padding: 20px 10px;
    top: 40px;
    left: -50px;
    width: 150px;
    height: 40px;
    border: 2px solid var(--borderBottomColor);
    border-radius: 10px;
    background-color: var(--backgroundColor);
    animation-duration: 250ms;
    animation-timing-function: ease;
}

.navigationMenuContent[data-motion='from-start'] {
    animation-name: enterFromLeft;
}

.navigationMenuContent[data-motion='from-end'] {
    animation-name: enterFromRight;
}

.navigationMenuContent[data-motion='to-start'] {
    animation-name: exitToLeft;
}

.navigationMenuContent[data-motion='to-end'] {
    animation-name: exitToRight;
}

.links {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 43%;
    font-size: 20px;
}

.links:hover {
    opacity: 0.75;
}

.linkIcon {
    width: 30px;
}

@media screen and (max-width: 1500px) {
    .navigationMenuRoot {
        width: 30px;
    }

    .navigationMenuList {
        width: 20px;
        height: 20px;
        border-radius: 7px;
        margin-top: 8px;
    }

    .navigationMenuContentVLins {
        padding: 0 10px;
        top: 30px;
        left: -40px;
        width: 110px;
        height: 50px;
        border-radius: 5px;
    }

    .navigationMenuContent {
        padding: 10px 10px;
        top: 30px;
        left: -40px;
        width: 95px;
        height: 10px;
        border-radius: 5px;
    }

    .links {
        height: 37%;
        gap: 2px;
        font-size: 15px;
    }

    .linkIcon {
        width: 20px;
    }
}

@media screen and (max-width: 480px) {
    .navigationMenuContentVLins {
        padding: 0 2px;
        top: 30px;
        left: -33px;
        width: 85px;
        height: 55px;
        border-radius: 5px;
    }

    .navigationMenuContent {
        padding: 10px 5px;
        top: 30px;
        left: -30px;
        width: 85px;
        height: 10px;
        border-radius: 5px;
    }
}