.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94vh;
}

.aboutBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 75%;
    height: 100%;
}

.imgAbout {
    background-image: var(--image-about);
    background-size: cover;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.aboutTexts {
    display: flex;
    flex-flow: column;
    width: 450px;
    height: 80%;
}

.titles {
    font-size: 57px;
    color: #7E5DCA;
}

.contentTexts {
    text-indent: 40px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    color: var(--subTitleColor);
}

@media screen and (max-width: 1500px) {
    .titles {
        font-size: 57px;
    }

    .aboutTexts{
        width: 33%;
    }
    
    .titles{
        font-size: 46.9px;
    }
    .contentTexts {
        font-size: 14px;
    }

    .imgAbout {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .aboutBox {
        width: 90%;
    }

    .titles {
        font-size: 56px;
    }

    .contentTexts {
        font-size: 14px;
    }

    .imgAbout {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .about{  
        margin-top: 20px;
        align-items: start;
        height: 94vh;
    }
    .aboutBox {
        flex-flow: column;
        width: 90%;
        height: 85%;
        gap: 10px;
    }

    .aboutTexts {
        width: 300px;
        height: 60%;
        overflow-y: scroll;
    }

    .titles {
        font-size: 38px;
    }

    .contentTexts {
        font-size: 13px;
    }

    .imgAbout {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 380px) {
    .homeTitle {
        font-size: 41px;
    }

    .homeSubTitle {
        font-size: 11px;
    }
}

@media screen and (max-width: 330px) {
    .homeTitle {
        font-size: 36px;
    }

    .homeSubTitle {
        font-size: 9.7px;
    }
}