header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid var(--borderBottomColor);
}

.navbar {
    width: 800px;
}

.menubarRoot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #7E5DCA;
    text-decoration: none;
}

.menubarTrigger {
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #7E5DCA;
    cursor: pointer;
    transition: 0.5s;
}

.menubarTrigger:hover {
    filter: brightness(80%);
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

button {
    all: unset;
}

.switchRoot {
    width: 42px;
    height: 25px;
    background-color: #C9C9C9;
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--black-a7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.switchRoot:focus {
    box-shadow: 0 0 0 2px black;
}

.switchRoot[data-state='checked'] {
    background-color: #7E5DCA;
}

.switchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
    cursor: pointer;
}

.switchThumb[data-state='checked'] {
    transform: translateX(19px);
}

.sun {
    width: 35px;
    padding-right: 10px;
}

.moon {
    width: 35px;
    padding-left: 10px;
}

.selectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    width: 110px;
    height: 40px;
    gap: 5px;
    background-color: var(--buttonHeaderColor);
    color: var(--buttonHeaderTextColor);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: 0.5s;
}

.selectTrigger:hover {
    filter: brightness(97%);
}

.selectContent {
    background-color: var(--buttonHeaderColor);
    border-radius: 6px;
    width: var(--radix-select-trigger-width);
    height: 145px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.212);
}

.selectViewport {
    border: 0;
    font-size: 20px;
    color: var(--buttonHeaderTextColor);
    padding: 5px;
    cursor: pointer;
}

.flags {
    padding: 0 15px;
    width: 50px;
}

.selectSeparator {
    height: 1px;
    background-color: var(--borderBottomColor);
    margin: 5px;
}

@media screen and (max-width: 2560px) {
    .IconButton {
        position: absolute;
        visibility: hidden;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 50px;
    }

    .navbar {
        width: 500px;
    }

    .menubarTrigger {
        font-size: 13px;
    }

    .options {
        width: 250px;
    }

    .switchRoot {
        width: 36px;
        height: 20px;
    }

    .switchThumb {
        width: 17px;
        height: 17px;
    }

    .switchThumb[data-state='checked'] {
        transform: translateX(17px);
    }

    .sun {
        padding-right: 5px;
        margin-top: 5px;
        width: 25px;
    }

    .moon {
        padding-left: 5px;
        margin-top: 5px;
        width: 25px;
    }

    .selectTrigger {
        font-size: 12px;
        width: 90px;
        height: 33px;
    }

    .selectContent {
        height: 111px;
    }

    .selectViewport {
        font-size: 14px;
    }

    .flags {
        padding: 0 12px;
        width: 37px;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    .IconButton {
        position: relative;
        visibility: visible;
    }

    .navbar {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    header {
        height: 40px;
    }

    .options {
        margin-right: 10px;
        width: 190px;
    }

    .selectTrigger {
        font-size: 11px;
        width: 55px;
        height: 25px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
    }

    .selectContent {
        height: 100px;
    }

    .selectViewport {
        font-size: 13px;
    }

    .flags {
        padding: 0 6px;
        width: 23px;
    }
}