.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94vh;
}

.homeBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 100%;
}

.homeTitle {
  font-size: 100px;
  color: #7e5dca;
}

.homeSubTitle {
  font-size: 27px;
  font-weight: 400;
  color: var(--subTitleColor);
}

.imgHomeContent {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 60px;
  width: 50%;
  height: 100%;
}

.purpleCircle {
  position: absolute;
  width: 32%;
  height: 64%;
  background-color: #7e5dca;
  border-radius: 50%;
  z-index: 100;
}

.imgHome {
  position: relative;
  width: 450px;
  z-index: 101;
  transform: scale(1.8);
}

@media screen and (max-width: 1456px) {
  .homeTitle {
    font-size: 70px;
  }
  .homeSubTitle {
    font-size: 19px;
  } 
  .imgHome {
    position: relative;
    width: 340px;
    z-index: 101;
    transform: scale(1.6);
  }
}

@media screen and (max-width: 1024px) {
  .homeTitle {
    font-size: 55px;
  }
  .homeSubTitle {
    font-size: 15px;
  }
  .purpleCircle{
    width: 36%;
    height: 56%;
  }
  .imgHome {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .homeTitle {
    font-size: 44px;
  }
  .homeSubTitle {
    font-size: 12px;
  }
  .purpleCircle{
    width: 38%;
    height: 46%;
  }
  .imgHome {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .homeBox {
    height: 70%;
    flex-flow: column;
  }
  .homeTitle {
    font-size: 44px;
  }
  .homeSubTitle {
    font-size: 12px;
  }
  .imgHomeContent{
    top: 20px;
    padding-bottom: 0;
  }
  .purpleCircle{
    width: 60%;
    height: 36%;
  }
  .imgHome {
    width: 200px;
  }
}

@media screen and (max-width: 380px) {
  .homeTitle {
    font-size: 41px;
  }
  .homeSubTitle {
    font-size: 11px;
  }
  .purpleCircle{
    width: 75%;
    height: 37%;
  }
  .imgHome {
    width: 200px;
  }
}

@media screen and (max-width: 330px) {
  .homeTitle {
    font-size: 36px;
  }
  .homeSubTitle {
    font-size: 9.7px;
  }
}
